.hidden{
    display: none;
}

body{
    background : url('../images/defaultImg.jpg') no-repeat;
    background-position: center;
    background-size: auto;
}

#clock{
    position: fixed;
}

#todo-form{
    position: fixed;
    left: 30%;
    top: 50%;
}

#todo-list{
    position: fixed;
    left: 30%;
    top: 51%;
}

#greeting{
    position: fixed;
    left: 50%;
    top : 30%;
}

#weather{
    position: fixed;
    right:0%;
}

#quote{
    position: fixed;
    bottom: 0%;
}

#login-form{
    position:fixed;
    left: 50%;
    top: 30%;
}